* {
  font-weight: 400;
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 30px;
  margin: 0px;
  padding: 0px;
  user-select: none;
}

.random {
  border: 2px solid black;
  width: 300px;
  height: 300px;
  margin-left: 15px;
}

h1 {
  font-size: 50px;
  font-family: "Tourney", cursive;
  margin-left: 10px;
  margin-top: 10px;
}

input,
button {
  font-family: "Poor Story", cursive;
  margin: 10px;
  padding: 3px;
}

.table {
  margin-left: 10px;
  margin-top: 20px;
  border: 1px solid black;
  border-collapse: collapse;
}

.table tbody tr td {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

.table thead tr th {
  padding: 10px;
  border: 1px solid black;
}

#button {
  cursor: pointer;
}

p,
label {
  font: 1rem "Fira Sans", sans-serif;
}

input {
  margin: 0.4rem;
}

#random-color-box {
  width: 200px;
  height: 200px;
  margin: 30px;
  background-color: black;
}

label input,
label p {
  margin: 10px;
}

label input {
  width: 400px;
}

.color-div {
  width: 100px;
  height: 100px;
}

.saved-color-div {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: 0 0px 10px 15px;
  float: left;
}

.content {
  display: flex;
}
.color-generator,
.saved-colors {
  border: 3px solid rgb(255, 120, 54);
  flex: 1;
}

#saved {
  display: inline;
}

h1 {
  margin: 10px 0px 0px 10px;
}

.content {
  padding: 30px;
}

.saved-colors {
  margin-left: 30px;
  display: inline-block;
}
